.app{
  min-height: 100vh;
  background: rgb(111, 172, 192);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.tweet{
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.red {
  min-height: 100vh;
  background: rgb(187, 56, 56);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.changerDesign{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
  border-radius: 10px;
  align-items: center;
  background-color: white

}